h1 {
    text-align: center;
}
.tip-calculator {
    padding: 50px;
    background: linear-gradient(to bottom, #4be61c 0%,#4be81b 100%);
    box-shadow: 36px -28px 133px 0 rgba(0, 0, 0, .35);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}
.tip-calculator:before {
    content: " ";
    background: rgba(0,0,0,.05);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top:-70%;
    right: -40%;
    transform: rotate(45deg);
}
.tip-calculator:after {
    content: " ";
    background: rgba(0,0,0,.05);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top:-90%;
    right: -40%;
    transform: rotate(45deg);
}
.wrapper {
    position: relative;
    z-index: 1;
}